<div class="sidebar">
    <ul>
        <a href="/">Home</a>
        <hr>
        <a href="/dashboard">Dashboard</a>
        <hr>
        <a href="/user">Data user</a>
        <hr>
        <a href="/mata">Data mata</a>
        <hr>
        <a href="/pengujian">Pengujian</a>
        <hr>
        <a href="/login/logout_action" onclick="return confirm_logout()">Logout</a>
        <hr>
    </ul>
    <script type="text/javascript">
        function confirm_logout() {
            return confirm('are you sure?');
        }
    </script>
</div>